# Binaries
**/bin/
**/bin-obj/
**/out/

Mahakam/vendor/assimp/lib/
Mahakam/vendor/assimp/generated/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user