# Binaries
**/bin/
**/bin-obj/
**/obj/
**/out/

Erebor/cache/
Erebor/profiling/
Erebor/runtime/

Mahakam/headers/

Mahakam/vendor/assimp/lib/
Mahakam/vendor/assimp/generated/
Mahakam/vendor/assimp/CMakeCache.txt

Mahakam/vendor/assimp/code/assimp.dir/
Mahakam/vendor/assimp/code/Debug/
Mahakam/vendor/assimp/code/Release/

Mahakam/vendor/assimp/contrib/zlib/zlibstatic.dir/
Mahakam/vendor/assimp/contrib/zlib/Debug/
Mahakam/vendor/assimp/contrib/zlib/Release/

# Mahakam files
*.log
*.user
Makefile
Unity-Build.cpp
Unity-Build.c

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user